In [77]:
from google.cloud import bigquery

client = bigquery.Client(project="qwiklabs-gcp-04-14e3a67e50ad")
dataset_id = 'fraud_data_raw'

dataset_ref = client.dataset(dataset_id)
dataset = bigquery.Dataset(dataset_ref)
dataset.location = "US"
dataset = client.create_dataset(dataset)  # Make an API request.

In [78]:
# ! bq load \
#   --source_format=CSV \
#   --autodetect \
#   --skip_leading_rows=1 \
#   fraud_data_raw.fraud_data_raw \
#   gs://labs.roitraining.com/data-to-ai-workshop/fraud_data_raw.csv

#Imported using bash shell

In [79]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [80]:
client

In [81]:
%%bigquery

SELECT * FROM `qwiklabs-gcp-04-14e3a67e50ad.fraud_data_raw.fraud_data_raw` LIMIT 1000

Query is running:   0%|          |

Downloading:   0%|          |

,Applicant_ID,Age,Employment_Status,Income,Number_of_Dependents,Amount_Requested,Previous_Assistance_Received,Previous_Assistance_Date,Supporting_Doc_Verified,Application_Frequency_Last_Year,IP_Address,Device_Type,Application_Date,Fraudulent
0,217,65,Unemployed,28984,4,5872,False,NaT,False,1,156.133.45.45,Mobile,2024-08-18,0
1,226,54,Self-Employed,0,1,6631,False,NaT,False,1,245.13.80.245,Tablet,2024-05-11,0
2,240,26,Self-Employed,64477,5,8612,False,NaT,True,1,213.103.170.95,Mobile,2024-08-14,0
3,252,28,Unemployed,28576,4,2951,False,NaT,True,1,234.179.149.207,Desktop,2024-06-12,0
4,266,43,Employed,44930,5,2324,False,NaT,False,1,66.109.96.227,Mobile,2024-08-16,0
5,281,32,Unemployed,25895,3,5411,False,NaT,False,1,202.173.84.210,Desktop,2024-04-30,1
6,300,30,Unemployed,0,4,2245,False,NaT,True,1,178.95.218.82,Tablet,2024-05-15,0
7,303,25,Self-Employed,36223,5,2409,False,NaT,True,1,202.173.163.25,Tablet,2024-03-24,0
8,330,35,Employed,42432,2,793,False,NaT,True,1,114.135.28.171,Tablet,2024-01-14,0
9,353,46,Self-Employed,0,3,8430,False,NaT,True,1,191.195.123.68,Desktop,2024-07-24,0
10,384,31,Unemployed,14783,3,8773,False,NaT,True,1,161.230.98.27,Desktop,2024-04-18,0
11,423,18,Self-Employed,0,2,7358,False,NaT,True,1,33.224.41.221,Mobile,2024-06-04,0
12,479,44,Self-Employed,61410,1,5597,False,NaT,False,1,26.131.146.233,Mobile,2024-11-28,0
13,514,30,Unemployed,55485,3,2399,False,NaT,False,1,172.12.247.187,Tablet,2024-08-21,0
14,528,39,Employed,0,0,5118,False,NaT,True,1,156.133.68.108,Desktop,2024-01-26,0
15,533,31,Employed,21924,1,8624,False,NaT,False,1,36.201.40.42,Mobile,2024-11-09,0
16,553,27,Self-Employed,0,3,3104,False,NaT,False,1,202.18.34.83,Desktop,2024-11-04,0
17,597,54,Employed,0,5,7460,False,NaT,True,1,245.225.40.6,Desktop,2024-09-10,0
18,652,24,Employed,0,3,8252,False,NaT,True,1,213.103.254.3,Mobile,2024-12-23,0
19,718,47,Employed,0,0,8541,False,NaT,False,1,228.57.25.192,Tablet,2024-02-01,0
20,721,64,Employed,11169,0,7267,False,NaT,True,1,250.10.131.12,Mobile,2024-06-28,0
21,746,61,Employed,66902,5,8518,False,NaT,True,1,172.12.164.114,Desktop,2024-06-08,0
22,749,52,Employed,62682,4,7710,False,NaT,False,1,178.95.82.173,Tablet,2024-11-15,0
23,759,27,Unemployed,64733,1,8258,False,NaT,True,1,151.125.82.97,Desktop,2024-04-11,0
24,762,20,Employed,44811,2,7195,False,NaT,True,1,151.125.217.35,Mobile,2024-02-01,0
25,764,57,Unemployed,48295,1,4626,False,NaT,True,1,156.133.131.219,Tablet,2024-09-26,0
26,767,43,Self-Employed,40374,0,6553,False,NaT,True,1,33.224.245.247,Mobile,2024-10-20,0
27,785,23,Unemployed,64863,2,6991,False,NaT,True,1,250.10.55.246,Mobile,2024-01-14,0
28,788,56,Employed,0,3,5102,False,NaT,False,1,72.207.58.110,Tablet,2024-07-01,0
29,806,58,Self-Employed,68894,5,6313,False,NaT,True,1,22.187.129.168,Mobile,2024-01-05,0
30,838,22,Self-Employed,29487,5,9182,False,NaT,True,1,140.20.239.141,Tablet,2024-12-24,0
31,840,38,Self-Employed,22707,4,9608,False,NaT,False,1,88.236.168.194,Tablet,2024-04-24,0
32,848,29,Employed,0,3,6098,False,NaT,True,1,161.230.204.39,Desktop,2024-03-13,0
33,862,41,Unemployed,0,3,6629,False,NaT,True,1,228.57.77.204,Tablet,2024-08-09,0
34,893,28,Self-Employed,17034,1,7958,False,NaT,False,1,228.57.156.188,Tablet,2024-11-01,0
35,914,44,Self-Employed,59887,2,2843,False,NaT,False,1,21.192.167.32,Desktop,2024-01-18,0
36,930,34,Unemployed,17083,2,3477,False,NaT,False,1,66.204.55.147,Tablet,2024-06-23,0
37,952,46,Unemployed,67250,2,5164,False,NaT,True,1,234.179.240.216,Tablet,2024-06-26,0
38,996,58,Unemployed,0,0,6808,False,NaT,False,1,129.60.187.109,Tablet,2024-06-25,0
39,1006,23,Unemployed,0,2,3474,False,NaT,True,1,212.42.171.149,Desktop,2024-04-08,0
40,1033,62,Self-Employed,0,3,9950,False,NaT,False,1,129.60.142.205,Tablet,2024-04-27,0
41,1035,22,Unemployed,60584,5,8349,False,NaT,False,1,131.190.190.199,Tablet,2024-08-22,0
42,1069,46,Employed,0,5,4621,False,NaT,True,1,172.12.205.96,Desktop,2024-03-14,0
43,1072,23,Employed,0,1,6215,False,NaT,False,1,88.236.136.48,Desktop,2024-09-25,0
44,1081,22,Unemployed,68338,4,7746,False,NaT,False,1,191.195.112.74,Desktop,2024-01-25,0
45,1098,37,Employed,17427,2,2449,False,NaT,True,1,47.79.171.170,Desktop,2024-05-19,0
46,1109,39,Unemployed,0,5,6299,False,NaT,False,1,55.188.19.134,Tablet,2024-09-25,0
47,1111,39,Self-Employed,48060,1,3534,False,NaT,True,1,151.125.60.71,Desktop,2024-12-30,0
48,1121,46,Unemployed,54963,4,7986,False,NaT,False,1,66.109.213.123,Desktop,2024-03-13,0
49,1127,57,Employed,0,5,4835,False,NaT,False,1,134.91.71.23,Tablet,2024-05-17,0
50,1134,35,Employed,0,1,4449,False,NaT,False,1,55.188.211.1,Tablet,2024-05-08,0
51,1138,61,Employed,28846,0,5393,False,NaT,False,1,234.179.7.26,Mobile,2024-11-15,0
52,1160,45,Unemployed,0,0,1223,False,NaT,False,1,202.173.39.216,Tablet,2024-04-12,0
53,1164,35,Unemployed,0,2,7177,False,NaT,False,1,202.173.250.176,Tablet,2024-10-20,0
54,1193,61,Employed,33854,5,620,False,NaT,True,1,151.125.237.112,Desktop,2024-04-28,0
55,1261,63,Unemployed,15525,0,8771,False,NaT,False,1,66.204.179.143,Mobile,2024-06-20,0
56,1321,46,Self-Employed,0,5,9482,False,NaT,True,1,134.91.181.233,Desktop,2024-06-07,0
57,1381,31,Employed,0,1,7875,False,NaT,False,1,234.179.141.149,Tablet,2024-07-14,0
58,1423,49,Unemployed,0,3,9222,False,NaT,False,1,140.20.133.215,Tablet,2024-12-20,0
59,1441,33,Unemployed,0,2,3297,False,NaT,False,1,134.91.60.195,Tablet,2024-12-13,0
60,1444,44,Employed,17257,4,3965,False,NaT,False,1,175.39.37.250,Tablet,2024-02-12,0
61,1458,21,Self-Employed,0,2,3395,False,NaT,False,1,230.3.236.179,Desktop,2024-04-12,0
62,1470,36,Unemployed,37623,0,4583,False,NaT,True,1,202.173.55.151,Tablet,2024-02-23,0
63,1491,21,Self-Employed,24241,0,7929,False,NaT,False,1,134.91.93.145,Tablet,2024-09-08,0
64,1496,59,Unemployed,39682,3,3100,False,NaT,False,1,234.179.32.150,Desktop,2024-08-09,0
65,1502,25,Self-Employed,0,3,4743,False,NaT,True,1,21.192.213.159,Desktop,2024-07-23,0
66,1660,19,Employed,51701,2,2303,False,NaT,False,1,22.187.54.246,Tablet,2024-02-18,0
67,1662,30,Unemployed,33845,1,7177,False,NaT,False,1,66.109.162.214,Desktop,2024-05-04,0
68,1677,46,Employed,0,3,7369,False,NaT,False,1,131.190.201.52,Desktop,2024-05-25,0
69,1697,65,Unemployed,0,0,536,False,NaT,True,1,80.46.180.29,Desktop,2024-03-08,0
70,1703,39,Unemployed,0,5,8632,False,NaT,True,1,88.236.23.71,Mobile,2024-10-28,0
71,1715,23,Employed,0,0,1318,False,NaT,False,1,33.224.193.44,Tablet,2024-08-21,1
72,1728,22,Self-Employed,0,1,9031,False,NaT,True,1,212.42.191.122,Mobile,2024-03-29,0
73,1750,18,Unemployed,0,4,7198,False,NaT,True,1,134.91.210.32,Mobile,2024-03-20,0
74,1789,42,Self-Employed,36357,2,1262,False,NaT,True,1,172.12.15.214,Tablet,2024-02-10,0
75,1803,29,Unemployed,0,2,3769,False,NaT,False,1,228.57.151.146,Desktop,2024-06-27,0
76,1850,40,Self-Employed,0,2,5559,False,NaT,True,1,47.79.23.85,Desktop,2024-09-29,0
77,1854,62,Employed,26679,2,5708,False,NaT,True,1,147.25.79.25,Tablet,2024-10-16,0
78,1873,25,Unemployed,0,2,3531,False,NaT,False,1,245.225.83.155,Desktop,2024-10-17,0
79,1874,45,Unemployed,61589,2,9975,False,NaT,True,1,172.12.133.82,Desktop,2024-11-29,0
80,1875,42,Employed,10049,0,1048,False,NaT,True,1,191.195.222.85,Desktop,2024-04-04,0
81,1879,63,Employed,0,4,1353,False,NaT,False,1,147.25.142.252,Desktop,2024-11-17,0
82,1912,24,Unemployed,0,1,2887,False,NaT,False,1,156.133.180.147,Tablet,2024-11-16,0
83,1971,65,Employed,63411,4,3869,False,NaT,True,1,147.25.41.170,Mobile,2024-02-25,0
84,1974,34,Unemployed,0,1,1690,False,NaT,True,1,42.196.137.210,Mobile,2024-03-13,0
85,1985,31,Employed,0,1,9369,False,NaT,True,1,114.135.58.198,Mobile,2024-01-06,0
86,1991,43,Unemployed,0,1,2876,False,NaT,False,1,72.207.150.138,Tablet,2024-10-28,0
87,2002,23,Self-Employed,0,5,9535,False,NaT,False,1,80.46.6.36,Mobile,2024-12-14,0
88,2008,46,Unemployed,41154,1,8884,False,NaT,True,1,202.173.72.242,Mobile,2024-01-27,0
89,2029,19,Unemployed,0,3,2293,False,NaT,True,1,161.230.223.96,Mobile,2024-11-28,0
90,2057,51,Employed,31151,2,8986,False,NaT,True,1,131.190.128.44,Desktop,2024-06-24,0
91,2072,18,Employed,0,3,6160,False,NaT,False,1,66.109.187.95,Tablet,2024-12-02,0
92,2088,42,Unemployed,0,1,3763,False,NaT,True,1,245.225.156.144,Desktop,2024-06-08,0
93,2101,26,Unemployed,73746,5,2831,False,NaT,True,1,147.25.135.145,Desktop,2024-03-14,0
94,2102,50,Unemployed,0,3,4009,False,NaT,False,1,114.135.152.29,Desktop,2024-02-04,0
95,2103,30,Self-Employed,0,2,4999,False,NaT,True,1,42.196.12.240,Tablet,2024-12-08,0
96,2111,57,Employed,64636,3,4514,False,NaT,True,1,176.235.121.201,Mobile,2024-10-04,0
97,2123,59,Self-Employed,45370,1,9946,False,NaT,False,1,162.251.134.38,Desktop,2024-12-04,0
98,2124,53,Self-Employed,47164,3,4032,False,NaT,False,1,207.235.48.65,Mobile,2024-12-08,0
99,2163,53,Self-Employed,0,5,9030,False,NaT,True,1,76.121.116.51,Desktop,2024-05-20,0
100,2172,37,Employed,0,3,6621,False,NaT,False,1,21.192.132.83,Tablet,2024-07-26,0
101,2197,60,Self-Employed,50387,2,8238,False,NaT,True,1,114.135.176.71,Tablet,2024-07-02,0
102,2205,39,Self-Employed,27648,0,2016,False,NaT,False,1,151.125.80.66,Tablet,2024-01-09,0
103,2206,22,Employed,0,3,3869,False,NaT,False,1,129.60.35.12,Tablet,2024-05-23,0
104,2271,45,Self-Employed,0,2,3460,False,NaT,True,1,212.42.247.15,Tablet,2024-04-26,0
105,2297,21,Unemployed,0,1,1023,False,NaT,True,1,228.57.45.155,Desktop,2024-05-09,0
106,2305,24,Self-Employed,0,0,3123,False,NaT,False,1,81.255.36.129,Desktop,2024-06-30,0
107,2346,22,Employed,51960,0,7719,False,NaT,True,1,36.201.1.222,Tablet,2024-10-26,0
108,2352,34,Employed,0,1,2763,False,NaT,False,1,22.187.71.251,Desktop,2024-04-11,0
109,2358,45,Self-Employed,62828,4,4610,False,NaT,True,1,88.236.26.47,Mobile,2024-09-24,0
110,2361,33,Unemployed,0,3,6497,False,NaT,True,1,81.255.208.252,Mobile,2024-02-09,0
111,2373,27,Unemployed,0,1,6573,False,NaT,True,1,72.207.220.47,Mobile,2024-10-27,0
112,2397,47,Self-Employed,0,3,6022,False,NaT,False,1,245.225.28.219,Tablet,2024-06-21,0
113,2418,59,Employed,0,3,1041,False,NaT,False,1,228.57.70.255,Mobile,2024-09-07,0
114,2421,32,Employed,22434,3,3653,False,NaT,True,1,76.121.199.48,Tablet,2024-02-12,0
115,2428,21,Unemployed,0,2,752,False,NaT,True,1,245.13.30.190,Desktop,2024-01-29,0
116,2434,49,Self-Employed,56052,4,6101,False,NaT,True,1,228.57.10.105,Desktop,2024-11-03,0
117,2436,29,Employed,0,3,9853,False,NaT,False,1,195.50.187.68,Desktop,2024-12-08,0
118,2443,41,Employed,0,2,6510,False,NaT,True,1,114.135.104.131,Mobile,2024-02-01,0
119,2448,49,Self-Employed,15434,5,8569,False,NaT,False,1,22.187.145.66,Mobile,2024-11-22,0
120,2458,24,Self-Employed,0,3,3763,False,NaT,True,1,140.20.1.64,Tablet,2024-07-25,0
121,2464,29,Unemployed,15365,4,6054,False,NaT,False,1,147.25.162.51,Tablet,2024-10-16,0
122,2500,29,Employed,14266,5,3890,False,NaT,False,1,195.50.217.128,Tablet,2024-04-21,0
123,2545,55,Unemployed,0,1,4234,False,NaT,False,1,80.46.5.220,Desktop,2024-04-21,1
124,2613,62,Unemployed,0,5,7212,False,NaT,True,1,176.235.117.186,Tablet,2024-03-22,0
125,2630,31,Self-Employed,0,2,9521,False,NaT,True,1,42.196.209.34,Mobile,2024-11-08,0
126,2678,51,Unemployed,0,1,5931,False,NaT,False,1,178.95.220.119,Tablet,2024-05-30,0
127,2706,31,Employed,0,5,2680,False,NaT,True,1,228.57.183.174,Mobile,2024-09-14,0
128,2714,51,Employed,69836,0,5627,False,NaT,False,1,147.25.7.36,Tablet,2024-02-19,0
129,2716,42,Employed,0,3,6215,False,NaT,True,1,212.42.184.33,Desktop,2024-04-17,0
130,2718,51,Self-Employed,0,1,2063,False,NaT,False,1,161.230.162.162,Mobile,2024-03-10,1
131,2728,39,Employed,0,5,7037,False,NaT,True,1,245.13.171.252,Mobile,2024-02-22,0
132,2732,20,Employed,0,5,7107,False,NaT,False,1,55.188.143.177,Mobile,2024-03-12,0
133,2739,46,Self-Employed,33863,5,7439,False,NaT,False,1,66.109.109.12,Tablet,2024-04-30,0
134,2816,35,Employed,31893,3,7209,False,NaT,True,1,195.50.168.9,Mobile,2024-01-29,0
135,2825,58,Unemployed,0,3,3725,False,NaT,True,1,21.192.29.214,Mobile,2024-02-09,0
136,2831,57,Self-Employed,0,1,7697,False,NaT,True,1,33.224.109.35,Desktop,2024-10-01,0
137,2879,27,Unemployed,0,0,4580,False,NaT,True,1,83.40.216.209,Tablet,2024-01-02,0
138,2887,60,Self-Employed,0,0,9642,False,NaT,True,1,114.135.90.37,Tablet,2024-02-17,0
139,2890,44,Employed,0,3,2251,False,NaT,False,1,66.204.127.219,Desktop,2024-04-06,0
140,2899,58,Unemployed,0,3,4742,False,NaT,False,1,184.225.12.244,Desktop,2024-05-07,0
141,2909,34,Employed,0,3,1233,False,NaT,False,1,80.46.15.77,Desktop,2024-09-25,0
142,2945,47,Employed,0,5,1730,False,NaT,False,1,26.131.144.27,Mobile,2024-10-11,0
143,2949,48,Self-Employed,17305,0,9434,False,NaT,True,1,253.215.133.141,Tablet,2024-05-08,0
144,2968,30,Unemployed,17405,0,9313,False,NaT,False,1,234.179.155.252,Desktop,2024-03-09,0
145,3056,39,Self-Employed,0,5,5355,False,NaT,True,1,33.224.178.180,Mobile,2024-08-16,0
146,3076,45,Employed,0,0,6911,False,NaT,False,1,202.173.30.9,Desktop,2024-04-30,0
147,3081,37,Employed,0,1,4884,False,NaT,True,1,22.146.45.82,Mobile,2024-01-20,0
148,3092,64,Unemployed,0,2,7352,False,NaT,True,1,134.91.49.114,Tablet,2024-03-19,0
149,3104,18,Unemployed,45659,4,1650,False,NaT,False,1,172.12.109.68,Tablet,2024-10-31,0
150,3117,58,Employed,0,0,4023,False,NaT,True,1,191.195.212.71,Desktop,2024-02-25,0
151,3121,47,Employed,0,1,3052,False,NaT,True,1,36.201.133.8,Mobile,2024-09-03,0
152,3149,55,Employed,18230,3,3957,False,NaT,True,1,81.255.21.105,Desktop,2024-08-01,0
153,3152,32,Self-Employed,33058,3,2559,False,NaT,True,1,147.25.170.131,Desktop,2024-04-13,0
154,3173,61,Employed,0,5,7360,False,NaT,False,1,184.225.20.127,Desktop,2024-02-29,0
155,3198,60,Employed,22995,3,2811,False,NaT,True,1,245.225.206.12,Tablet,2024-12-06,0
156,3275,47,Unemployed,59387,2,3922,False,NaT,False,1,161.230.111.128,Mobile,2024-03-28,0
157,3305,47,Unemployed,16216,1,8937,False,NaT,False,1,26.131.75.35,Mobile,2024-01-29,0
158,3326,61,Unemployed,64710,3,4751,False,NaT,False,1,83.40.184.142,Mobile,2024-06-01,0
159,3331,44,Unemployed,0,2,3860,False,NaT,True,1,83.40.167.226,Tablet,2024-10-10,0
160,3336,56,Employed,64768,3,5416,False,NaT,True,1,239.108.51.82,Tablet,2024-03-11,0
161,3432,22,Self-Employed,57637,1,2676,False,NaT,True,1,191.195.36.231,Mobile,2024-08-29,0
162,3472,18,Self-Employed,14133,3,1529,False,NaT,True,1,76.121.169.132,Tablet,2024-07-11,0
163,3475,58,Employed,0,1,7280,False,NaT,True,1,156.133.41.41,Desktop,2024-08-17,0
164,3504,24,Employed,0,0,2346,False,NaT,False,1,66.204.98.138,Desktop,2024-01-22,0
165,3529,22,Self-Employed,29427,1,1267,False,NaT,False,1,33.224.107.251,Tablet,2024-07-27,0
166,3537,22,Self-Employed,17424,0,7268,False,NaT,False,1,134.91.100.21,Tablet,2024-06-04,0
167,3552,61,Unemployed,0,0,5305,False,NaT,True,1,36.201.240.31,Desktop,2024-12-25,0
168,3557,49,Self-Employed,70614,1,9127,False,NaT,True,1,22.187.201.26,Mobile,2024-03-25,0
169,3560,61,Unemployed,40503,0,1722,False,NaT,True,1,42.196.130.114,Mobile,2024-05-08,0
170,3566,65,Employed,64373,2,5209,False,NaT,True,1,195.50.243.208,Mobile,2024-04-17,0
171,3591,42,Unemployed,20397,1,1142,False,NaT,False,1,114.135.94.45,Desktop,2024-07-12,0
172,3620,47,Employed,0,1,7427,False,NaT,True,1,66.109.192.135,Mobile,2024-03-27,0
173,3622,58,Employed,0,5,2728,False,NaT,False,1,36.201.93.56,Mobile,2024-03-21,0
174,3636,55,Unemployed,0,5,9563,False,NaT,False,1,234.179.31.57,Tablet,2024-09-26,0
175,3663,51,Employed,40153,3,2181,False,NaT,True,1,114.135.247.210,Desktop,2024-04-13,0
176,3664,56,Unemployed,24596,0,2012,False,NaT,True,1,66.204.81.148,Mobile,2024-04-26,0
177,3675,43,Self-Employed,69062,2,3106,False,NaT,True,1,88.236.251.103,Desktop,2024-10-29,0
178,3708,29,Unemployed,33378,1,3343,False,NaT,False,1,207.235.33.85,Mobile,2024-08-23,0
179,3713,35,Unemployed,38799,2,3433,False,NaT,True,1,128.111.242.101,Desktop,2024-09-15,0
180,3716,61,Unemployed,73087,2,6693,False,NaT,True,1,213.103.33.87,Desktop,2024-12-21,0
181,3727,49,Unemployed,43791,1,3563,False,NaT,False,1,128.111.58.137,Mobile,2024-07-01,0
182,3729,62,Unemployed,0,2,5013,False,NaT,False,1,22.146.15.221,Mobile,2024-03-04,1
183,3734,21,Unemployed,0,5,8284,False,NaT,False,1,151.125.255.167,Desktop,2024-01-19,0
184,3736,37,Self-Employed,53467,2,1661,False,NaT,True,1,245.225.209.179,Desktop,2024-11-08,0
185,3738,28,Employed,0,4,7591,False,NaT,False,1,128.111.209.72,Tablet,2024-05-07,0
186,3773,55,Self-Employed,28753,1,1098,False,NaT,False,1,131.190.246.197,Mobile,2024-04-27,0
187,3793,48,Unemployed,0,1,3746,False,NaT,True,1,202.18.243.254,Desktop,2024-02-25,0
188,3803,62,Employed,19409,2,9596,False,NaT,True,1,245.13.221.195,Tablet,2024-10-07,0
189,3805,33,Unemployed,44131,5,7308,False,NaT,False,1,19.29.151.158,Mobile,2024-12-06,0
190,3819,38,Employed,37007,0,7609,False,NaT,False,1,21.192.75.118,Mobile,2024-08-21,0
191,3841,42,Unemployed,29964,0,8095,False,NaT,True,1,88.236.200.28,Tablet,2024-12-16,0
192,3849,53,Employed,16181,2,1767,False,NaT,False,1,81.255.192.45,Mobile,2024-05-19,0
193,3860,20,Unemployed,0,2,550,False,NaT,False,1,55.188.211.213,Tablet,2024-07-21,0
194,3892,46,Self-Employed,0,2,5206,False,NaT,True,1,176.235.60.71,Tablet,2024-12-03,0
195,3898,54,Employed,29075,0,7329,False,NaT,True,1,202.18.133.34,Desktop,2024-11-08,0
196,3926,64,Unemployed,0,5,7447,False,NaT,False,1,66.109.141.131,Desktop,2024-12-13,0
197,3929,45,Self-Employed,0,0,7789,False,NaT,True,1,66.204.68.150,Desktop,2024-08-09,0
198,3947,25,Unemployed,0,0,823,False,NaT,False,1,140.20.50.183,Desktop,2024-03-15,0
199,3999,53,Self-Employed,39467,3,4403,False,NaT,True,1,81.255.252.225,Tablet,2024-12-02,0
200,4006,56,Employed,0,5,3754,False,NaT,False,1,76.121.46.55,Mobile,2024-11-24,0
201,4037,40,Self-Employed,44666,3,7566,False,NaT,False,1,172.12.62.163,Tablet,2024-11-20,0
202,4052,22,Unemployed,37916,4,667,False,NaT,True,1,36.201.65.174,Tablet,2024-07-23,0
203,4071,32,Unemployed,0,1,4253,False,NaT,True,1,253.215.222.150,Desktop,2024-01-26,0
204,4145,63,Unemployed,0,3,7415,False,NaT,True,1,26.131.173.122,Mobile,2024-04-13,0
205,4170,49,Self-Employed,0,0,5219,False,NaT,False,1,245.225.148.203,Mobile,2024-10-19,0
206,4171,25,Employed,21098,0,4341,False,NaT,True,1,66.204.138.222,Mobile,2024-06-20,0
207,4172,27,Employed,56567,1,1853,False,NaT,True,1,22.146.189.64,Tablet,2024-07-26,0
208,4184,61,Employed,59164,3,5333,False,NaT,True,1,19.29.152.253,Desktop,2024-06-26,0
209,4206,21,Unemployed,40886,2,4385,False,NaT,True,1,162.251.98.101,Mobile,2024-07-27,0
210,4215,60,Unemployed,72171,5,9098,False,NaT,True,1,178.95.216.91,Desktop,2024-12-17,0
211,4238,59,Self-Employed,0,1,2412,False,NaT,False,1,140.20.138.185,Mobile,2024-02-16,0
212,4271,29,Unemployed,28103,4,8425,False,NaT,True,1,140.20.84.19,Mobile,2024-04-20,0
213,4300,34,Unemployed,0,2,9857,False,NaT,True,1,236.8.58.30,Mobile,2024-09-19,0
214,4309,53,Self-Employed,28504,1,2526,False,NaT,True,1,33.224.12.226,Tablet,2024-12-14,0
215,4328,40,Unemployed,0,4,1952,False,NaT,False,1,156.133.114.161,Tablet,2024-08-16,0
216,4346,40,Unemployed,46361,5,4329,False,NaT,False,1,129.60.90.53,Mobile,2024-04-15,0
217,4348,33,Self-Employed,65270,5,6762,False,NaT,False,1,134.91.167.205,Mobile,2024-04-26,0
218,4366,30,Employed,0,5,7723,False,NaT,False,1,76.121.62.27,Tablet,2024-06-23,0
219,4371,26,Self-Employed,25749,5,3928,False,NaT,False,1,230.3.195.88,Mobile,2024-05-26,0
220,4417,52,Unemployed,56626,5,3633,False,NaT,False,1,26.131.71.154,Tablet,2024-05-20,0
221,4425,48,Employed,30365,4,6459,False,NaT,True,1,239.108.27.126,Tablet,2024-08-09,0
222,4442,43,Self-Employed,0,1,8748,False,NaT,True,1,191.195.86.248,Desktop,2024-10-16,0
223,4452,51,Employed,47367,4,7170,False,NaT,False,1,21.192.45.10,Desktop,2024-03-26,0
224,4455,43,Unemployed,73572,4,3647,False,NaT,True,1,212.42.46.232,Mobile,2024-05-02,0
225,4477,45,Employed,10497,3,5314,False,NaT,True,1,212.42.106.103,Desktop,2024-02-25,0
226,4489,54,Unemployed,0,3,6315,False,NaT,False,1,245.13.63.159,Tablet,2024-06-27,1
227,4500,18,Employed,39485,3,6242,False,NaT,True,1,172.12.132.176,Mobile,2024-03-31,0
228,4522,42,Employed,0,5,5794,False,NaT,False,1,234.179.106.38,Tablet,2024-07-21,0
229,4558,64,Employed,0,2,3731,False,NaT,False,1,72.207.64.122,Tablet,2024-10-05,0

In [82]:
query_1 = """SELECT * FROM `qwiklabs-gcp-04-14e3a67e50ad.fraud_data_raw.fraud_data_raw`"""

fraud_df = client.query(query_1).to_dataframe()
fraud_df.head()

,Applicant_ID,Age,Employment_Status,Income,Number_of_Dependents,Amount_Requested,Previous_Assistance_Received,Previous_Assistance_Date,Supporting_Doc_Verified,Application_Frequency_Last_Year,IP_Address,Device_Type,Application_Date,Fraudulent
0,217,65,Unemployed,28984,4,5872,False,NaT,False,1,156.133.45.45,Mobile,2024-08-18,0
1,226,54,Self-Employed,0,1,6631,False,NaT,False,1,245.13.80.245,Tablet,2024-05-11,0
2,240,26,Self-Employed,64477,5,8612,False,NaT,True,1,213.103.170.95,Mobile,2024-08-14,0
3,252,28,Unemployed,28576,4,2951,False,NaT,True,1,234.179.149.207,Desktop,2024-06-12,0
4,266,43,Employed,44930,5,2324,False,NaT,False,1,66.109.96.227,Mobile,2024-08-16,0

In [83]:
print(fraud_df['Previous_Assistance_Date'].describe())

count          24854
unique           846
top       2023-09-08
freq              67
Name: Previous_Assistance_Date, dtype: object

## **Senity check for cols**

In [84]:
fraud_df["Employment_Status"].value_counts(dropna=False)

Employment_Status
Employed         16734
Self-Employed    16682
Unemployed       16584
Name: count, dtype: int64

In [85]:
# Frequency of each category

fraud_df["Device_Type"].value_counts(dropna=False)

Device_Type
Mobile     16733
Tablet     16652
Desktop    16615
Name: count, dtype: int64

In [86]:
fraud_df[["Employment_Status", "Device_Type"]].isna().sum()

Employment_Status    0
Device_Type          0
dtype: int64

**Hot Encoding**

In [87]:

cols_to_encode = ['Employment_Status', 'Device_Type']


df_encode = pd.get_dummies(
    fraud_df,
    columns = cols_to_encode,
    dtype=int  # ensures 0/1 integers instead of booleans
)

df_encode.head()

,Applicant_ID,Age,Income,Number_of_Dependents,Amount_Requested,Previous_Assistance_Received,Previous_Assistance_Date,Supporting_Doc_Verified,Application_Frequency_Last_Year,IP_Address,Application_Date,Fraudulent,Employment_Status_Employed,Employment_Status_Self-Employed,Employment_Status_Unemployed,Device_Type_Desktop,Device_Type_Mobile,Device_Type_Tablet
0,217,65,28984,4,5872,False,NaT,False,1,156.133.45.45,2024-08-18,0,0,0,1,0,1,0
1,226,54,0,1,6631,False,NaT,False,1,245.13.80.245,2024-05-11,0,0,1,0,0,0,1
2,240,26,64477,5,8612,False,NaT,True,1,213.103.170.95,2024-08-14,0,0,1,0,0,1,0
3,252,28,28576,4,2951,False,NaT,True,1,234.179.149.207,2024-06-12,0,0,0,1,1,0,0
4,266,43,44930,5,2324,False,NaT,False,1,66.109.96.227,2024-08-16,0,1,0,0,0,1,0

In [88]:
print(len(fraud_df.columns))
print(len(df_encode.columns))

14
18

## **Creating Age bin and one-hot encoding them**

In [89]:

print("Step b: Binning Age field and one-hot encoding...")
age_bins = [0 ,18, 25, 35, 50, 65, 80]
age_labels = ["0-18", "18-24" ,"25-34", "35-50", "51-70", "70+"]
df_encode['Age_Bin'] = pd.cut(df_encode['Age'], bins=age_bins, labels=age_labels)

Step b: Binning Age field and one-hot encoding...

In [90]:
df_encode.head()

,Applicant_ID,Age,Income,Number_of_Dependents,Amount_Requested,Previous_Assistance_Received,Previous_Assistance_Date,Supporting_Doc_Verified,Application_Frequency_Last_Year,IP_Address,Application_Date,Fraudulent,Employment_Status_Employed,Employment_Status_Self-Employed,Employment_Status_Unemployed,Device_Type_Desktop,Device_Type_Mobile,Device_Type_Tablet,Age_Bin
0,217,65,28984,4,5872,False,NaT,False,1,156.133.45.45,2024-08-18,0,0,0,1,0,1,0,51-70
1,226,54,0,1,6631,False,NaT,False,1,245.13.80.245,2024-05-11,0,0,1,0,0,0,1,51-70
2,240,26,64477,5,8612,False,NaT,True,1,213.103.170.95,2024-08-14,0,0,1,0,0,1,0,25-34
3,252,28,28576,4,2951,False,NaT,True,1,234.179.149.207,2024-06-12,0,0,0,1,1,0,0,25-34
4,266,43,44930,5,2324,False,NaT,False,1,66.109.96.227,2024-08-16,0,1,0,0,0,1,0,35-50

## **One-hot encode the age bins**

In [91]:

age_bin_encoded = pd.get_dummies(df_encode, columns=['Age_Bin',], dtype=int)

age_bin_encoded.head()

,Applicant_ID,Age,Income,Number_of_Dependents,Amount_Requested,Previous_Assistance_Received,Previous_Assistance_Date,Supporting_Doc_Verified,Application_Frequency_Last_Year,IP_Address,Application_Date,Fraudulent,Employment_Status_Employed,Employment_Status_Self-Employed,Employment_Status_Unemployed,Device_Type_Desktop,Device_Type_Mobile,Device_Type_Tablet,Age_Bin_0-18,Age_Bin_18-24,Age_Bin_25-34,Age_Bin_35-50,Age_Bin_51-70,Age_Bin_70+
0,217,65,28984,4,5872,False,NaT,False,1,156.133.45.45,2024-08-18,0,0,0,1,0,1,0,0,0,0,0,1,0
1,226,54,0,1,6631,False,NaT,False,1,245.13.80.245,2024-05-11,0,0,1,0,0,0,1,0,0,0,0,1,0
2,240,26,64477,5,8612,False,NaT,True,1,213.103.170.95,2024-08-14,0,0,1,0,0,1,0,0,0,1,0,0,0
3,252,28,28576,4,2951,False,NaT,True,1,234.179.149.207,2024-06-12,0,0,0,1,1,0,0,0,0,1,0,0,0
4,266,43,44930,5,2324,False,NaT,False,1,66.109.96.227,2024-08-16,0,1,0,0,0,1,0,0,0,0,1,0,0

In [92]:
age_bin_encoded = age_bin_encoded.drop('Age', axis=1)

## **Creating field Income-to-Amount-Requested **

In [93]:
age_bin_encoded['Income-to-Amount-Requested'] =  age_bin_encoded['Income']/ age_bin_encoded['Amount_Requested']
age_bin_encoded.head()

,Applicant_ID,Income,Number_of_Dependents,Amount_Requested,Previous_Assistance_Received,Previous_Assistance_Date,Supporting_Doc_Verified,Application_Frequency_Last_Year,IP_Address,Application_Date,Fraudulent,Employment_Status_Employed,Employment_Status_Self-Employed,Employment_Status_Unemployed,Device_Type_Desktop,Device_Type_Mobile,Device_Type_Tablet,Age_Bin_0-18,Age_Bin_18-24,Age_Bin_25-34,Age_Bin_35-50,Age_Bin_51-70,Age_Bin_70+,Income-to-Amount-Requested
0,217,28984,4,5872,False,NaT,False,1,156.133.45.45,2024-08-18,0,0,0,1,0,1,0,0,0,0,0,1,0,4.935967
1,226,0,1,6631,False,NaT,False,1,245.13.80.245,2024-05-11,0,0,1,0,0,0,1,0,0,0,0,1,0,0.0
2,240,64477,5,8612,False,NaT,True,1,213.103.170.95,2024-08-14,0,0,1,0,0,1,0,0,0,1,0,0,0,7.486879
3,252,28576,4,2951,False,NaT,True,1,234.179.149.207,2024-06-12,0,0,0,1,1,0,0,0,0,1,0,0,0,9.683497
4,266,44930,5,2324,False,NaT,False,1,66.109.96.227,2024-08-16,0,1,0,0,0,1,0,0,0,0,1,0,0,19.333046

## **Creating field Time_Since_Previous_Assistance**

In [94]:
print(age_bin_encoded['Previous_Assistance_Date'].dtype)

dbdate

In [95]:
age_bin_encoded[age_bin_encoded['Previous_Assistance_Date'].notna()].head()

,Applicant_ID,Income,Number_of_Dependents,Amount_Requested,Previous_Assistance_Received,Previous_Assistance_Date,Supporting_Doc_Verified,Application_Frequency_Last_Year,IP_Address,Application_Date,Fraudulent,Employment_Status_Employed,Employment_Status_Self-Employed,Employment_Status_Unemployed,Device_Type_Desktop,Device_Type_Mobile,Device_Type_Tablet,Age_Bin_0-18,Age_Bin_18-24,Age_Bin_25-34,Age_Bin_35-50,Age_Bin_51-70,Age_Bin_70+,Income-to-Amount-Requested
2543,48817,0,3,4865,True,2022-09-04,True,1,19.29.225.228,2024-01-13,0,0,0,1,0,1,0,0,0,0,1,0,0,0.0
2544,29735,35830,1,7587,True,2022-09-13,False,1,33.224.121.169,2024-01-26,0,1,0,0,0,1,0,0,0,1,0,0,0,4.722552
2545,42837,0,1,7515,True,2022-09-13,False,1,26.131.80.176,2024-01-08,0,0,1,0,0,0,1,0,0,0,1,0,0,0.0
2546,14435,29220,1,3620,True,2022-09-14,True,1,207.235.51.152,2024-01-13,0,0,0,1,1,0,0,0,0,0,1,0,0,8.071823
2547,22517,0,2,6029,True,2022-09-14,False,1,72.207.167.220,2024-01-10,0,0,0,1,1,0,0,0,0,0,0,1,0,0.0

In [96]:

age_bin_encoded['Previous_Assistance_Date'] = pd.to_datetime(age_bin_encoded['Previous_Assistance_Date'])
age_bin_encoded['Application_Date'] = pd.to_datetime(age_bin_encoded['Application_Date'])
age_bin_encoded['Time_Since_Previous_Assistance'] = (age_bin_encoded['Application_Date'] - age_bin_encoded['Previous_Assistance_Date']).dt.days

age_bin_encoded[age_bin_encoded['Previous_Assistance_Date'].notna()].head()

,Applicant_ID,Income,Number_of_Dependents,Amount_Requested,Previous_Assistance_Received,Previous_Assistance_Date,Supporting_Doc_Verified,Application_Frequency_Last_Year,IP_Address,Application_Date,Fraudulent,Employment_Status_Employed,Employment_Status_Self-Employed,Employment_Status_Unemployed,Device_Type_Desktop,Device_Type_Mobile,Device_Type_Tablet,Age_Bin_0-18,Age_Bin_18-24,Age_Bin_25-34,Age_Bin_35-50,Age_Bin_51-70,Age_Bin_70+,Income-to-Amount-Requested,Time_Since_Previous_Assistance
2543,48817,0,3,4865,True,2022-09-04,True,1,19.29.225.228,2024-01-13,0,0,0,1,0,1,0,0,0,0,1,0,0,0.0,496.0
2544,29735,35830,1,7587,True,2022-09-13,False,1,33.224.121.169,2024-01-26,0,1,0,0,0,1,0,0,0,1,0,0,0,4.722552,500.0
2545,42837,0,1,7515,True,2022-09-13,False,1,26.131.80.176,2024-01-08,0,0,1,0,0,0,1,0,0,0,1,0,0,0.0,482.0
2546,14435,29220,1,3620,True,2022-09-14,True,1,207.235.51.152,2024-01-13,0,0,0,1,1,0,0,0,0,0,1,0,0,8.071823,486.0
2547,22517,0,2,6029,True,2022-09-14,False,1,72.207.167.220,2024-01-10,0,0,0,1,1,0,0,0,0,0,0,1,0,0.0,483.0

## **Change True/False field to 0s and 1s**

In [97]:
bool_columns = age_bin_encoded.select_dtypes(include=['bool']).columns
print(bool_columns)
for col in bool_columns:
    age_bin_encoded[col] = age_bin_encoded[col].astype(int)

Index(['Previous_Assistance_Received', 'Supporting_Doc_Verified'], dtype='object')

In [98]:
age_bin_encoded[['Previous_Assistance_Received','Supporting_Doc_Verified']].head()

   Previous_Assistance_Received  Supporting_Doc_Verified
0                             0                        0
1                             0                        0
2                             0                        1
3                             0                        1
4                             0                        0

## **Save to fraud_training_data**

In [99]:
project_id = 'qwiklabs-gcp-04-14e3a67e50ad'
dataset_id = 'fraud_data_raw'
table_name = 'fraud_training_data'

age_bin_encoded.to_gbq(
    destination_table=f'{dataset_id}.{table_name}',
    project_id=project_id,
    if_exists='replace'
)
print(f"\nData saved to {project_id}.{dataset_id}.{table_name}")

/tmp/ipython-input-4089111498.py:5: FutureWarning: to_gbq is deprecated and will be removed in a future version. Please use pandas_gbq.to_gbq instead: https://pandas-gbq.readthedocs.io/en/latest/api.html#pandas_gbq.to_gbq
  age_bin_encoded.to_gbq(
100%|| 1/1 [00:00<00:00, 3708.49it/s]

Data saved to qwiklabs-gcp-04-14e3a67e50ad.fraud_data_raw.fraud_training_data